/* Variables */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

* {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100%;
  background: #6565e7;
  background: -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(#af67e9));
  background: linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 1px 15px 23px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 1px 15px 23px 0px rgba(0, 0, 0, 0.33);
  width: 950px;
}

.card__left-col {
  display: inline-block;
  overflow: hidden;
  padding: 7em 10em 7em 2em;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 125% 70%;
}

.card__left-col, .card__right-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card__img-main {
  position: relative;
  right: 9em;
  bottom: 2em;
}

.card__img-box {
  position: absolute;
  bottom: 12.5em;
  left: -11em;
}

.card__right-col {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 400px;
  margin: 0 7em 3em 0;
}

.card__title {
  color: #1d1e35;
  font-size: 3em;
  margin-bottom: 1em;
}

.card__details {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin: 1em 0 1em 0;
}

.card__summary-title {
  color: #4a4b5e;
  -webkit-transition: 0.3s color ease-out;
  transition: 0.3s color ease-out;
  font-size: 1.2em;
}

.card__arrow {
  float: right;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card--remove-arrow {
  list-style: none;
}

.card--remove-arrow::-webkit-details-marker {
  display: none;
}

.card__summary-title:hover {
  color: #f47c57;
  cursor: pointer;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card__summary-content {
  color: #787887;
  font-size: 1.2em;
  margin-bottom: 0;
  line-height: 1.5em;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.card__hr {
  border-top: 1px solid #e7e7e9;
}

.card--arrow-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card--font-weight-increase {
  font-weight: 700;
}

.attribution {
  text-align: center;
  font-size: 1.5em;
}

.attribution a {
  font-size: 1em;
  color: #3e52a3;
}

footer {
  margin-top: 5rem;
}
/*# sourceMappingURL=style.css.map */