/* Variables */

$primary-text-color: rgb(29, 30, 53);
$hover-text-color: rgb(244, 124, 87);
$drk-gray-text-color: rgb(74, 75, 94);
$lgt-gray-text-color: rgb(120, 120, 135);
$divider-color: rgb(231, 231, 233);

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  background: rgb(101, 101, 231);
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 920px;
  padding: 8em;
  border-radius: 10px;
  position: relative;

  &__left-col {
    width: 49%;
    position: relative;
    right: 10em;
    display: inline-block;
  }

  &__bg-img {
    width: 100%;
  }

  &__title {
    color: $primary-text-color;
    font-size: 2.5em;
  }

  &__right-col {
    width: 49%;
    display: inline-block;
  }

  &__summary-title {
    color: $drk-gray-text-color;
    font-size: 1.2em;
    line-height: 1em;
    margin: 1em 0 1em 0;
  }

  // remove arrows from details elements
  &--remove-arrow {
    list-style: none;
  }

  &--remove-arrow::-webkit-details-marker {
    display: none;
  }

  &__summary-title:hover {
    color: $hover-text-color;
    cursor: pointer;
  }

  &__summary-content {
    color: $lgt-gray-text-color;
    font-size: 1.2em;
  }

  &__hr {
    color: $divider-color;
  }
}

.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 5rem;
}
