/* Variables */

$primary-text-color: rgb(29, 30, 53);
$hover-text-color: rgb(244, 124, 87);
$drk-gray-text-color: rgb(74, 75, 94);
$lgt-gray-text-color: rgb(120, 120, 135);
$divider-color: rgb(231, 231, 233);

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  background: rgb(101, 101, 231);
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  position: relative;
  width: 900px;

  &__left-col {
    display: inline-block;
    overflow: hidden;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 150% 65%;
  }

  &__left-col,
  &__right-col {
    padding: 5em;
    flex: 1;
  }

  &__img-main {
    position: relative;
    right: 10em;
    bottom: 2em;
  }

  &__title {
    color: $primary-text-color;
    font-size: 3em;
    margin-bottom: 1em;
  }

  &__right-col {
    display: inline-block;
    margin-right: 5em;
  }

  &__details {
    display: inline-flex;
    width: 100%;
    margin: 1em 0 1em 0;
  }

  &__summary-title {
    color: $drk-gray-text-color;
    font-size: 1.2em;
  }

  &__arrow {
    float: right;
  }

  // remove arrows from details elements
  &--remove-arrow {
    list-style: none;
  }

  &--remove-arrow::-webkit-details-marker {
    display: none;
  }

  &__summary-title:hover {
    color: $hover-text-color;
    cursor: pointer;
  }

  &__summary-content {
    color: $lgt-gray-text-color;
    font-size: 1.2em;
  }

  &__hr {
    color: $divider-color;
  }
}

.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 5rem;
}
