/* Variables */

$primary-text-color: rgb(29, 30, 53);
$hover-text-color: rgb(244, 124, 87);
$drk-gray-text-color: rgb(74, 75, 94);
$lgt-gray-text-color: rgb(120, 120, 135);
$divider-color: rgb(231, 231, 233);

$primary-font: 'Kumbh Sans', sans-serif;

/* Globals */

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  font-size: 12px;
  font-family: $primary-font;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Body */

body {
  min-height: 100%;
  background: rgb(101, 101, 231);
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // controls the animation in the media query
  transition: transform 0.2s;
}

/* Styling for card */

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  position: relative;
  -webkit-box-shadow: 1px 15px 23px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 1px 15px 23px 0px rgba(0, 0, 0, 0.33);
  left: 2em;
  width: 950px;

  &__left-col {
    display: inline-block;
    overflow: hidden;
    padding: 7em 10em 7em 2em;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: 125% 70%;
  }

  &__left-col,
  &__right-col {
    flex: 1;
  }

  &__img-main-desktop {
    position: relative;
    right: 9em;
    bottom: 2em;
  }

  &__img-main-mobile {
    display: none;
  }

  &__img-box {
    position: absolute;
    bottom: 12.5em;
    left: -11em;
  }

  &__right-col {
    display: inline-block;
    align-self: center;
    justify-self: center;
    height: 400px;
    margin: 0 7em 3em 0;
  }

  &__title {
    color: $primary-text-color;
    font-size: 3em;
    margin-bottom: 1em;
  }

  &__details {
    display: inline-flex;
    width: 100%;
    margin: 1em 0 1em 0;
  }

  &__summary-title {
    color: $drk-gray-text-color;
    transition: 0.3s color ease-out;
    font-size: 1.2em;
  }

  &__arrow {
    float: right;
    transition: all 0.2s;
  }

  // remove arrows from details elements
  &--remove-arrow {
    list-style: none;
  }

  &--remove-arrow::-webkit-details-marker {
    display: none;
  }

  &__summary-title:hover {
    color: $hover-text-color;
    cursor: pointer;
  }

  // animation for summary content text

  @keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  &__summary-content {
    color: $lgt-gray-text-color;
    font-size: 1.2em;
    margin-bottom: 0;
    line-height: 1.5em;
    animation-name: appear;
    animation-duration: 0.5s;
  }

  &__hr {
    border-top: 1px solid $divider-color;
  }

  // classes for JS event listener
  &--arrow-rotate {
    transform: rotate(180deg);
  }

  &--font-weight-increase {
    font-weight: 700;
  }
}

.attribution {
  text-align: center;
  font-size: 1.5em;
  justify-self: flex-end;
  margin-top: 2em;
}

.attribution a {
  font-size: 1em;
  color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media screen and (max-width: 1100px) and (min-width: 750px) {
  body {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 750px) {
  body {
    transform: none;
    transition: none;
    overflow: scroll;
  }

  .card {
    flex-direction: column;
    margin: 10em 4em 0 0;
    width: 375px;

    &__title {
      text-align: center;
    }

    &__left-col,
    &__right-col {
      flex: none;
    }

    &__left-col {
      background-image: url('../images/bg-pattern-mobile.svg');
      padding: 0 0 10em 0;
      background-position: 50% 10%;
    }

    &__img-main-desktop {
      display: none;
    }

    &__img-main-mobile {
      display: inline;
      position: absolute;
      top: -9em;
      left: 4em;
    }

    &__img-box {
      display: none;
    }

    &__right-col {
      width: 100%;
      padding: 0 3em;
      margin: 0em 0em 6em 0em;
    }
  }

  // footer {
  //   margin-top: 1rem;
  // }
}

@media screen and (max-width: 415px) {
  body {
    transform: scale(0.8);
  }

  .card {
    margin-top: 3em;
  }
}

@media screen and (max-width: 360px) {
  body {
    transform: scale(0.65);
  }

  .card {
    margin-top: 1em;
  }
}
